.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  padding-left: 0;
  background-color: #FFFBEC; 
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  height: 70px; 
  padding-left: 0;
}


.search-area {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 30px;
}

.filter-button {
  font-family: 'Inter', sans-serif;
  color: #704A24;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 10px 35px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-color: white;
  padding: 8px 10px;
  width: 100%;
  max-width: 850px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.search-input-wrapper .search-icon {
  margin: 0 10px;
  color: #704A24;
}

.search-input-wrapper input {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #704A24;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
}

.search-input-wrapper input::placeholder {
  color: #704A24; 
  font-weight: normal; 
}

.go-button {
  background-color: #AC7F5E;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-button {
  font-family: 'Titan One', cursive; 
  font-size: 15px;                   
  color: #74461D;
  font-weight: normal;

  font-weight: normal; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;  
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #E3C9A7;
  color: #74461D;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile-button {
  background-color: #E3C9A7; 
  color: #74461D; 
  border: none; 
  outline: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}